body {
	width: 100%;
	height: 100%;
	/*background-image: url(../img/starfield.jpg);*/
	/*background-size: cover;*/
	background-color: #000;
}
#arkanoid {
	border-radius: 50px;
	margin: 50px auto;
	width: 1150px;
}